* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.btn {

    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.container {

    padding: 0 40px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
}

img {
    width: 100%;
}

a {
    text-decoration: none;

}

.login-form .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form .flex {
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
    padding: 10px 20px;
    border: solid 1px #333;
    margin: 10px 0;
}


nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav .flex {
    justify-content: space-between;
    min-height: 70px;

}

nav img {
    width: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.login-form .fb-icon {
    width: 100px;
}

.profile-info img {
    width: 200px;
    /* border-radius: 50% !important; */
}

.profile-info .flex>* {
    margin: 0 20px;
}

.go-edit {
    justify-self: flex-end;
}

.add-post input[type="text"] {
    width: 300px;
    margin: 0 auto;
}

#profile-pic {
    width: 50px;

}

.add-post .grid {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
    align-items: flex-start;
}

.add-post .card {
    max-width: 700px;
    margin: 0 auto;
}

#post-text {
    grid-column: 2/ 4;
}

.add-post #img {

    grid-column: 4/6;
    overflow: hidden;
    margin: 0;
    width: 125px;
}

.post {
    max-width: 600px;
    margin: 0 auto;
}

.likes-coun {
    font-size: 25px;
}

.add-post input[type="submit"] {
    grid-row: 3;
    grid-column: 2/5;
}

input[type="file"] {
    padding: 10px 20px;
}

.user-info {
    justify-content: flex-start;
    align-items: center;
}

.post-interact {
    justify-content: space-around;
    align-items: center;
}

.post-interact i {
    margin-right: 5px;
}


.user-info img {
    width: 50px;
    margin-right: 5px;
}


@media(max-width:780px) {
    .flex {
        flex-direction: column;
        gap: 5px;
    }

    .add-post input[type="text"] {
        max-width: 700px;
        margin: 0 auto;
    }

    #profile-pic {
        width: 50px;
        grid-column: 1;
        align-self: center;
        margin: 5px auto;

    }

    .add-post .grid {
        grid-template-columns: 1fr;

    }

    .add-post .card {
        max-width: 700px;
        margin: 0 auto;
    }

    #post-text {

        grid-column: 1;
    }

    .add-post #img {

        grid-column: 1;
        overflow: hidden;
        margin: 0 auto;
        width: 125px;
    }

    .add-post input[type="submit"] {
        grid-row: 5;
        grid-column: 1;
    }

    .user-info {
        flex-direction: row;

    }

    .post-interact {
        flex-direction: row;

    }

}